{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}

<section>
    
</section>

<article>
    <h2>Como a minha ideia funciona?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget molestie odio, et tincidunt tortor. Nam interdum iaculis lorem sed hendrerit. Donec eu enim turpis. Sed iaculis eleifend cursus. Maecenas molestie enim eu enim posuere, ut tristique eros porttitor. Aliquam erat volutpat. In rhoncus blandit scelerisque. Duis luctus dignissim lorem, vitae porta erat tempor a. Sed ultrices quis diam in consectetur. Etiam nec tellus et velit egestas lacinia at a nisi. Vestibulum convallis, mauris a mollis fringilla, leo purus congue ante, ut imperdiet dui ligula ut nibh. Maecenas mollis, felis quis fringilla pharetra, sem mi laoreet tortor, sit amet dictum ligula sapien quis odio. Phasellus at mauris non nisl dapibus condimentum ac vel dui.</p>
</article>

<div class = 'seila'>
    <div>
        <div>
            <img src="../static/img/icone1.svg" alt="">
        </div>
        
        <p>Buscamos conhecimento em planetas diferentes do sistema solar (por enquanto)!</p>
    </div>
    <div>
        <div>
            <img src="../static/img/icone2.svg" alt="">
        </div>
        <p>Usamos seres humanos para buscar conhecimento pelo sistema solar também (por enquanto).</p>
    </div>
    <div>
        <div>
            <img src="../static/img/icone3.svg" alt="">
        </div>
        <p>Mandamos todas as informações para terra via satélite, caso algo aconteça com o humano.</p>
    </div>
</div>

{% endblock %}